<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>AddServlet</servlet-name>
    <servlet-class>com.dw.controll.AddServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.dw.controll.DeleteServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.dw.controll.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PreServlet</servlet-name>
    <servlet-class>com.dw.controll.PreServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dw.controll.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SearchByIdServlet</servlet-name>
    <servlet-class>com.dw.controll.SearchByIdServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddressBookServlet</servlet-name>
    <servlet-class>com.dw.controll.AddressBookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MemoServlet</servlet-name>
    <servlet-class>com.dw.controll.MemoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DiaryServlet</servlet-name>
    <servlet-class>com.dw.controll.DiaryServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PropertyServlet</servlet-name>
    <servlet-class>com.dw.controll.PropertyServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSubmit</servlet-name>
    <servlet-class>com.dw.controll.UpdateSubmit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSubmit</servlet-name>
    <servlet-class>com.dw.controll.AddSubmit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.dw.controll.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ShowUserServlet</servlet-name>
    <servlet-class>com.dw.controll.ShowUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddServlet</servlet-name>
    <url-pattern>/AddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PreServlet</servlet-name>
    <url-pattern>/pre</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SearchByIdServlet</servlet-name>
    <url-pattern>/SearchByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddressBookServlet</servlet-name>
    <url-pattern>/AddressBookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MemoServlet</servlet-name>
    <url-pattern>/MemoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiaryServlet</servlet-name>
    <url-pattern>/DiaryServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PropertyServlet</servlet-name>
    <url-pattern>/PropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSubmit</servlet-name>
    <url-pattern>/UpdateSubmit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSubmit</servlet-name>
    <url-pattern>/AddSubmit</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowUserServlet</servlet-name>
    <url-pattern>/ShowUserServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>com.dw.filter.EncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>